/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
.header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Form links container styles */
.form-links-container {
    background-color: #f7f7f7;
    padding: 20px;
}

.form-links-container h2 {
    text-align: center;
}

.form-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display the form links in a row */
    flex-wrap: wrap; /* Wrap the links to a new line if they exceed container width */
    justify-content: center; /* Center the links horizontally */
}

.form-links li {
    margin: 5px; /* Add some spacing between the links */
    flex-basis: 25%; /* Set the initial size of each link to occupy 25% of the row */
    min-width: 200px; /* Set a minimum width for the links */
}

.form-links li a {
    display: block; /* Display the links as block elements */
    background-color: #4CAF50; /* Green color scheme */
    color: white;
    text-decoration: none;
    padding: 20px; /* Increase the padding to increase the link height */
    border-radius: 5px;
    text-align: center; /* Center the text within the link */
    font-size: 16px; /* Adjust the font size as needed */
    height: 50px; /* Set a fixed height for two lines of text (adjust as needed) */
    line-height: 1.2; /* Set line-height to control the space between lines of text */
    overflow: hidden; /* Hide any text that exceeds the height */
}

.form-links li a:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Footer styles */
.footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
}
